<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Eloom" suffix=" · Eloom">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={asset_path(@conn, :css)} />
    <link phx-track-static rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script
      defer
      phx-track-static
      type="text-javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
    >
    </script>
    <script defer phx-track-static type="text/javascript" src={asset_path(@conn, :js)}>
    </script>
  </head>
  <body class="h-full">
    <div>
      {@inner_content}
    </div>
  </body>
</html>
